*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: url(unnamed1.png);
    background-position: center;
    background-size: cover;
    height: 90vh;
}

.logo{
    width: 29%;
    background: url(unnamed2.png);
    background-position: center;
    background-size: cover;
    margin-left: 105px;
    margin-top: 5px;
    height: 18px;
    margin-bottom: 30px;
}

.form{
    width:80px;
    height: 75px;
    position: absolute;
    border-radius: 5px;
    padding: 4px;
    background-color: #fff;
    outline: none;
    margin-top: 30px;
}

.form input{
    padding-top:4px;
    border: none;
    margin: auto;
    font-size: 4px;
    border-bottom: 1px solid black;
    
    
    
}
.form h3{
    margin-left: 300px;
    font-size: 5px;
    padding: 1px;
}

.link{
    background-color: blue;
    width: 10px;
    height: 10px;
    margin-left: 25px;
    margin-bottom: 3px;
    font-size: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    
    
}
.link a{
    color:#fff;
}
.link:hover{
    background-color: red;
    color: white;
}
.form img{
    width:15px;
    height:10px;

    
}

.btn{
    background-color: darkblue;
    margin-left: 28px;
    width: 28px;
    height: 10px;
    margin-bottom: 1px;
    font-size: 7px;
    border:0px solid black;
    
}

.btn a{
    color: #fff;
    margin-right: 30px;
    padding-left: 6px;
    
}
.form h3{
    margin-left:35px;
}
